$white: #ecf0f1;
$center: center;
$h100: 100px;
$fw900: 900;

@mixin max760px {
  @media (max-width: 760px) {
    @content;
  }
}

@mixin flex-items-postion($x, $y) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

#header {
  background-color: #e74c3c;
  .covid--title {
    @include flex-items-postion($center, $center);
    color: $white;
    height: $h100;
    font-weight: $fw900;
    letter-spacing: 0.5rem;

    span {
      display: inline-block;
      font-size: 2rem;
    }
  }

  .covid--menu {
    height: $h100;

    @include flex-items-postion($center, $center);
    & > ul {
      li {
        display: inline-block;
        text-align: center;

        a {
          display: block;
          padding: 15px;
        }
      }
      li + li {
        margin-left: 10px;
      }
    }

    span {
      width: 100%;
      display: inline-block;
      color: $white;
      font-size: 1.3rem;
      font-weight: $fw900;
      letter-spacing: 0.3rem;
    }

    @include max760px {
      height: auto;
      & > ul {
        padding: 10px 0;
        width: 100%;

        li {
          a {
            padding: 15px;
            margin: 0 -16px;
            &:hover {
              background-color: white;
              span {
                color: #000;
              }
            }
          }
        }

        li + li {
          margin-top: 10px;
          margin-left: 0px;
        }
      }
    }
  }
}
